<!DOCTYPE html>

{% load static %}

<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Expliciter - Le moteur de recherche</title>
{#    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">#}

    <!-- CSS -->
    <link href="{% static 'bootstrap-5.3.0-alpha3/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
  </head>

  <body class="d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-primary-subtle">
      <div class="container">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"><a class="nav-link" href="/"><i>Expliciter</i> - Moteur de recherhe</a></li>
        </ul>
        <div class="collapse navbar-collapse" id="navbarToggler">

          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="explorer"><span class="glyphicon glyphicon-home" aria-hidden="true">Explorer</span></a></li>
          </ul>

          <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ request.user.username }}
                  <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown-user">
{#                  <a class="dropdown-item" role="presentation" href="#">{% trans 'Profile' %}</a>#}
                  <a class="dropdown-item" role="presentation" href="{% url 'password_change' %}">Modifier le mot de passe</a>
                  {% if request.user.is_superuser %}<a class="dropdown-item" role="presentation" href="{% url 'admin:index' %}">Admin</a>{% endif %}
                  <a class="dropdown-item" role="presentation" href="{% url 'logout' %}">Se déconnecter</a>
                </div>
              </li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Connexion</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main role="main" id="page-content" class="content">
      {% if messages %}
        <div class="container">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}

      {% block content %}
      {% endblock content %}
    </main>

    <footer id="sticky-footer" class="py-2 bg-primary-subtle">
      <div class="container">
        <div class="d-flex flex-row">
          <div class="justify-content-start align-items-center flex-grow-1">
            <small><a href="https://expliciter.org/" target="_blank">GREX</a></small>
          </div>
          <div class="justify-content-start align-items-center flex-grow-1">
            <small>
              <a href="https://bitbucket.org/yesyves/expliciter" target="_blank">
                Copyright Yves de Champlain 2022-2023
              </a>
              | Logiciel libre selon les termes de la
              <a href="https://forge.gouv.qc.ca/licence/liliq-r+/" target="_blank">LiLiQ-R+ v1.1</a>
            </small>
          </div>
          <div class="justify-content-end align-items-center">
            <small>Version {{ app_version }}</small>
          </div>
        </div>
      </div>
    </footer>

    <!-- Third-party javascript libraries go here -->
    <script src="{% static 'jquery-3.6.4/jquery.min.js' %}"></script>
    <script src="{% static 'popper-2.11.7/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.3.0-alpha3/bootstrap.min.js' %}"></script>

  </body>
</html>

