{% extends "base.html" %}

{% block content %}
<div class="mw-100 p-5">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Auteurs</th>
        <th>Mots clés</th>
        <th>Parutions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>
  {% for author in auteurs %}
        <a href="/auteur/{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</a> ({{ author.occurrence }})<br>
  {% endfor %}
      </td>
      <td>
  {% for keyword in mots_cles %}
        <a href="/keyword/{{ keyword.id }}">{{ keyword }}</a> ({{ keyword.occurrence }})<br>
  {% endfor %}
      </td>
      <td class="justify-content-end">
  {% for issue in parutions %}
        <a href="/parution/{{ issue.number }}">{{ issue.number }}</a>&nbsp;({{ issue.date_published|date:'M Y' }})<br>
  {% endfor %}
     </td>
      <td>
  {% for issue in parutions %}
       <a href="/media/{{ issue.number }}-expliciter.pdf" target="_blank">Consulter</a>
    {% if issue.number in annexes %}
        (<a href="/media/{{ issue.number }}_Annexe.pdf" target="_blank">Voir l'annexe</a>)
    {% endif %}
    <br>
  {% endfor %}
      </td>
    </tr>
    </tbody>
  </table>
</div>
{% endblock %}
