{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="d-flex flex-row pt-5">
    <div class="justify-content-start align-items-center flex-grow-1">
      <form action="{% url 'home' %}" method="get">
        {{ form }}
        <button type="submit">Chercher</button>
      </form>
    </div>

  {% if num_results is not None %}
    <div class="justify-content-end align-items-center flex-grow-1 pt-1">
     {{ num_results }} résultats :
    </div>
  </div>
</div>

<div class="mw-100 p-5">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>Auteur(s)</th>
        <th>Titre</th>
        <th>Parution</th>
        <th>Page(s)</th>
        <th>Mot(s) clé(s)</th>
      </tr>
    </thead>
    <tbody>
    {% for result in results %}
    <tr>
      <td>
        {% for author in result.authors.all %}
        <a href="/auteur/{{ author.id }}">{{ author|safe }}</a><br>
        {% endfor %}
      </td>
      <td>
        {{ result.title }}
      </td>
      <td class="justify-content-end">
        <a href="/parution/{{ result.issue.number }}">{{ result.issue.number }}</a>&nbsp;({{ result.issue.date_published|date:'Y' }})
      </td>
      <td>
        <a href="/media/{{ result.issue.number }}-expliciter.pdf" target="_blank">{{ result.pages }}</a>
        {% if result.has_annexe %}
        <br><a href="/media/{{ result.issue.number }}_Annexe.pdf" target="_blank">Annexe</a>
        {% endif %}
      </td>
      <td>
        {% for keyword in result.keywords.all %}
          <a href="/keyword/{{ keyword.id }}">{{ keyword }}</a><br>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
  {% endif %}
{% endblock %}
